    #instructions {
        color: #f4e842;
        font-weight: lighter;
    }

    #openingMsg {
      color: #f4e842;
        font-weight: lighter;

    }

    
    #header {
        font-size: 40px;
        color: #f4e842;
        font-weight: bold;
    }
.character {
  width: 153px;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  
}
.character-image {
  border: 0 none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
.character-name {
  text-align: center;
  text-transform: capitalize;
  line-height: 30px;
  font-family: 'Itim', cursive;
  font-size: 20px;
}
.character-health {
  text-align: center;
}
#attackButton {
    margin-left: 190px;
    margin-right: 190px;
}


#instructions, 
 {
    padding: 50px;
    font-size: 30px;
    display: none;
       padding: 5px;
    text-align: center;
    
}

.enemyPanel {
  color: red;
  font-size: 40px;
}